# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Flask stuff
instance/
.webassets-cache
app.db

# Database
*.db
*.sqlite

# Environment variables
.env
.flaskenv

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Migrations
migrations/versions/