body.reset-request-page,
body.reset-page {
    background: url('img/bg4.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body.reset-request-page::before,
body.reset-page::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: -1;
}