<html>
    <head>
        {% if title %}
            <title>{{ title }} - NoxChat</title>
        {% else %}
            <title>NoxChat</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo3.png') }}">
    </head>
        <body class="{% block body_class %}{% endblock %}">
        <nav class="navbar">
            <div class="nav-left">
                <span class="brand">
                    <img src="{{ url_for('static', filename='img/logo3.png') }}" alt="Логотип" class="brand-logo">
                    NoxChat
                </span>
                {% if not current_user.is_anonymous %}
                    <a href="{{ url_for('main.index') }}">Home</a>
                    <a href="{{ url_for('main.friends') }}">Friends</a>
                    <a href="{{ url_for('main.search_user') }}">Search</a>
                {% endif %}
            </div>
            {% if current_user.is_anonymous %}
            <div class="nav-right">
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.register') }}">Register</a>
            </div>
            {% else %}
            <div class="nav-right">
                <a href="{{ url_for('main.user', public_id=current_user.profile.public_id) }}">Profile</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
            {% endif %}
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-container">
            {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        {{ moment.include_moment() }}
    </body>
</html>