{% extends "base.html" %}

{% block body_class %}home-page{% endblock %}

{% block content %}
<div class="changelog-wrapper">
    <h1 class="changelog-title">{{ welcome_message }}</h1>
    <div>
        <ul>
            {% for item in updates %}
            <li class="changelog-item">
                <strong>{{ item.version }} – {{ item.date }}</strong>
                <span class="changelog-description">{{ item.description }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}