{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
                <img src="{{ url_for('static', filename='avatars/' ~ user.profile.avatar_path) }}" width="128">
            </td>
            <td>
                <h1>User: {{ user.username }}</h1>
                
                {% if user.profile.bio %}
                    <p>Bio: {{ user.profile.bio }}</p>
                {% endif %}
                
                {% if user.profile.public_id %}
                    <p>ID: {{ user.profile.public_id }}</p>
                {% endif %}

                {% if user.profile.last_seen %}
                    <p>Last seen on: {{ user.profile.last_seen.strftime('%A, %d %B %Y %H:%M:%S') }}</p>
                {% endif %}
                
                <p>{{ user.followers_count() }} followers, {{ user.following_count() }} following.</p>
                {% if user == current_user %}
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('follow', public_id=user.profile.public_id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', public_id=user.profile.public_id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% if user == current_user %}
        <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    {% endif %}
    <hr>
{% endblock %}